/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ IMPORT STYLING COMPONENTS ~~~~~*/
@import "./components/components_wrapper.css";
@import "./components/delete_button.css";
@import "./components/add_button.css";
@import "./components/origin_list.css";
@import "./components/destination_list.css";
@import "./components/destination_properties.css";
@import "./components/sendit_button.css";
@import "./components/scrollbar.css";
@import "./components/default_parameters.css";
@import "./components/selects.css";
@import "./components/last_moved.css";
@import "./components/btn_cancel_properties.css";
@import "./components/language_selection.css";
@import "./components/divider.css";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ IMPORT ANIMATIONS ~~~~~*/
@import "./components/animations/destination_properties_img_animation.css";
@import "./components/animations/img_rotate_animation.css";
@import "./components/animations/stretch_text.css";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL VARIABLES ~~~~~*/
:root {

    /*palette colors ~~~~~*/
    --palette-first: #1B2233;
    --palette-second: #121621;
    --palette-third: #0E111A;
    --palette-fourth: #0D1018;
    --palette-fifth: #07090D;

    /*buttons colors*/
    --sendit-button-background-color: #0a5e12;
    --sendit-button-background-color-hover: #0d8719;
    --add-button-background-color: #364585;

    --first-color: #191919;
    --second-color: #374c72;
    --third-color: #008891;
    --fourth-color: #e7e7de;
    --fifth-color: #cccccc;
    --sixth-color: white;
    --seventh-color: #5ebc6a;

    --property-name-color: #5d08a3;
    --property-regex-color: #7f69ea;
    --property-format-color: #064f87;

    --fonts-color: #4E5659;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN STYLING ~~~~~*/

/*removes the highlight when selecting the text*/
p, div, h1, h2, h3, h4, h5, h6, label, span {
    user-select: none;
}

/*remove highlight when selected*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    border: 0 !important;
}

body {
    background: var(--palette-fifth);
    color: var(--fonts-color);
}

p {
    font-size: 1.20rem;
}

.input-group {
    height: 4vh;
}

/*for the warning badges */
.badge-warning {
    font-size: 0.9rem;
}

/*style for the h1 tags to have a line under them*/
h1 {
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 10px;
}
/*style for the h3 tags to have a line under them*/
h3 {
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 15px;
}

/*style for all img tags inside buttons*/
.button-icon {
    width: auto;
    height: 75% !important;
    margin-left: 1rem;
}

/*style for the buttons that have an image inside*/
.btn-with-image {
    height: 2.75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*style for all p tags inside buttons*/
button > p {
    font-size: 1.1rem;
}

/*make not selectable the next elements*/
p, li, ul {
    user-select: none; 
}

/*classes for font colors*/
.first-color {
    color: var(--first-color);
}
.secondary-color {
    color: var(--second-color);
}
.third-color {
    color: var(--third-color);
}
.fourth-color {
    color: var(--fourth-color);
}
.fifth-color {
    color: var(--fifth-color);
}
.sixth-color {
    color: var(--sixth-color);
}

/*classes for backgrouds color*/
.first-bg {
    background-color: var(--first-color);
}
.second-bg {
    background-color: var(--second-color);
}
.third-bg {
    background-color: var(--third-color);
}


/*classes for rounded corners*/
.round-left {
    border-radius: 8px 0 0 8px;
}
.round-right {
    border-radius: 0 8px 8px 0;
}

/*custom styling for the page*/


.destination-properties-img {
    width: auto;
    height: 100%;
    margin: 0;
}

/*animation class for the img inside buttons*/
.img-rotate-animation:hover > img {
    animation-name: img-rotate-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/*animation for the images on the destination properties*/
.img-property-name:hover, .destination-properties-img-animation > input:focus ~ .img-property-name, .property-name-element {
    background-color: var(--property-name-color) !important;
}
.img-property-format:hover, .destination-properties-img-animation > input:focus ~ .img-property-format, .property-format-element {
    background-color: var(--property-format-color) !important;
}
.img-property-regex:hover, .destination-properties-img-animation > input:focus ~ .img-property-regex, .property-regex-element {
    background-color: var(--property-regex-color) !important;
}
.destination-properties-img-animation > input:focus ~ .destination-properties-img {
    animation-name: destination-properties-img-animation;
    animation-duration: 1s;
}

/*styling for the destination paths list*/
/*#destination_paths_list > li:first-child {*/
    /*display: inline-flex;*/
    /*background-color: red !important;*/
    /*overflow: hidden;*/
    /*overflow-wrap: nowrap;*/
/*}*/
.property-element {
    margin-right: 0.7vw;
    font-size: smaller;
}
.name-property-element {
    color: var(--property-name-color);
}
.format-property-element {
    color: var(--property-format-color);
}
.regex-property-element {
    color: var(--property-regex-color);
}

.on-hover-stretch-path > h6 {
    width: 50%;
    overflow: hidden;
    overflow-wrap: nowrap;
}

/*list where all the folder properties are diplayed*/
.property-inline-elements {
    display: inline-flex;
    align-items: center;
}
.property-inline-elements > * {
    height: 100%;
}
#app_version {
    margin-top: 70px;
}
