/*style for the buttons that add paths or information*/

.btn-add {

    /*VARIABLES ~~~~~*/
    --font-color: #ccc;
    --background-color: var(--add-button-background-color);
    --background-color-hover: var(--palette-first);

    color: var(--font-color);
    background-color: var(--background-color);

}

.btn-add:hover {
    background-color: var(--background-color-hover);
}
