/*styling for the wrapper that holds all the components, includes #watching_wrapper and #destination_wrapper*/

.wrappers {

    background-color: var(--palette-fourth);
    color: var(--fonts-color);
    box-shadow: 15px -15px 30px black;

}

.wrappers > div:first-of-type > p {
    padding-inline: 8%;
    width: 100%;
}

.wrappers:hover {
    box-shadow: 15px -15px 20px black;
}

.wrappers > div:first-of-type > h3 {
    transition: width 0.6s ease-in-out;
    width: 60%;
}

.wrappers:hover > div:first-of-type > h3 {
    transition: width 1s ease-in-out;
    width: 90%;
}
