/*style for the list that holds all the paths of the destination folders*/

#destination_paths_list {

    /*VARIABLES ~~~~~*/
    --item-font-color: #ccc;
    --item-font-color-hover: #ccc;
    --item-background-color: var(--palette-second);
    --item-background-color-hover: var(--palette-first);
    --item-font-color-selected: #ccc;
    --item-background-color-selected: #630000;

    color: var(--font-color);

}

#destination_paths_list > li {
    background-color: var(--item-background-color);
    width: 90%;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
}

#destination_paths_list > li:last-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#destination_paths_list > li:first-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#destination_paths_list > li:hover {
    background-color: var(--item-background-color-hover) !important;
    font-size: larger;
    animation-name: hovering-list-item-growth;
    animation-duration: 0.5s;
    width: 100%;
    border-radius: 8px 8px 8px 8px;
    font-weight: bolder;
    color: var(--item-font-color-hover);
    box-shadow: 15px 15px 90px black;
}

.selected_destination_li {
    background-color: var(--item-background-color-selected) !important;
    margin: 0 !important;
    align-self: center;
    font-size: larger;
    border-radius: 8px 8px 8px 8px !important;
    z-index: 10;
    color: var(--item-font-color-selected);
    font-weight: bold; 
    width: 100% !important;
}

#destination_paths_list > li > div:first-of-type {
    max-height: 3vh;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
    white-space: nowrap;
}

#destination_paths_list > li:hover > div:first-of-type {
    white-space: normal !important;
}

.selected_destination_li > div:last-of-type {
    display: none !important;
}

/*style for the format filename and regex description below the destinations paths*/
.destination_paths_types {

    /*font size for the types decriptors down the destination paths*/
    --types-descriptors-font-size: .9rem;

    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    width: 70%;
}
.destination_paths_types > label {
    margin: auto;
    margin-top: 0.4rem;
    font-size: var(--types-descriptors-font-size);
}
/*i set the colors for each of the words*/
.destination_paths_types > label:nth-child(1) {
    color: var(--property-name-color);
}
.destination_paths_types > label:nth-child(2) {
    color: var(--property-format-color);
}
.destination_paths_types > label:nth-child(3) {
    color: var(--property-regex-color);
}
