/*styling for the default parameters component*/

.parameters_wrapper {
    /*Colors variables ~~~~~*/
    --color-labels: #808080;
    --label-font-size: 1.2rem;
}

.parameters_wrapper > div:not(:first-child) {
    background-color: var(--palette-second);
}

.parameters_wrapper > div:not(:first-child) > label {
    color: var(--color-labels);
    font-size: var(--label-font-size);
}
