@keyframes img-rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(360deg);
    }
    70% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(90deg);
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(45deg);
    }
    90% {
        transform: rotate(0deg);
    }
    95% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
